@import url("https://marshift.github.io/murky/out.css");

body {
	max-width: 720px;
	margin: 0 auto;
}

footer {
	text-align: center;
	margin-top: 0.5rem;
}

#download-button {
	position: relative;
}

#download-status {
	z-index: 1;
	position: relative;
}

#download-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: var(--accent-alt);
	border-radius: var(--radii-large);
	min-width: 2rem;
}
